In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [2]:
a=6

In [6]:
b=float(a)

In [9]:
c=str(a)

In [10]:
c

'6'

In [8]:
type(b)

float

In [7]:
b

6.0

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [14]:
del thislist[0]

In [15]:
print(thislist)

['banana']

In [16]:
del thislist

In [17]:
thislist

NameError: name 'thislist' is not defined

In [ ]:
1 bit

In [ ]:
8 bit equal 1 byte

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [19]:
len(thislist)

0

In [20]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [21]:
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [24]:
thislist_num=[50,1 ,15]

In [25]:
thislist_num.sort()

In [26]:
thislist_num

[1, 15, 50]

In [27]:
thislist_num.sort(reverse=True)

In [28]:
thislist_num

[50, 15, 1]

In [30]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [31]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [32]:
list_copy=thislist.copy()

In [33]:
list_copy

['cherry', 'Kiwi', 'Orange', 'banana']

In [34]:
thislist.pop(1)

'Kiwi'

In [35]:
thislist

['cherry', 'Orange', 'banana']

In [36]:
list_copy

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

In [37]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [39]:
fruits = ["apple", "banana", "cherry","cherry"]

x = fruits.count("cherry")

print(x)

2

Tuple

In [40]:
tuple1=("1",2,"alok")

In [41]:
tuple1

('1', 2, 'alok')

In [42]:
len(tuple1)

3

In [43]:
tuple1[0]

'1'

In [44]:
tuple1[:1]

('1',)

In [45]:
tuple1[0:2]

('1', 2)

In [46]:
x = ("apple", "banana", "cherry")

In [47]:
x

('apple', 'banana', 'cherry')

In [48]:
x[1] = "kiwi"

TypeError: 'tuple' object does not support item assignment

In [54]:
x = ("apple", "banana", "cherry")

In [55]:
y=list(x)

In [56]:
y.append("orange")

In [57]:
y

['apple', 'banana', 'cherry', 'orange']

In [58]:
z=tuple(y)

In [59]:
z

('apple', 'banana', 'cherry', 'orange')

In [60]:
z.remove("apple")

AttributeError: 'tuple' object has no attribute 'remove'

In [61]:
del z

In [62]:
z

NameError: name 'z' is not defined

In [63]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [64]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [66]:
fruits

('apple', 'banana', 'cherry')

In [67]:
fruits[0]

'apple'

In [69]:
fruits = ("apple", "banana", "cherry")

(green, *yellow) = fruits

print(green)
print(yellow)

apple
['banana', 'cherry']

In [70]:
fruits = ("apple", "banana", "cherry")

(*green, yellow) = fruits

print(green)
print(yellow)

['apple', 'banana']
cherry

In [71]:
fruits = ("apple", "banana", "cherry","x","y","z")

(green,*x, yellow) = fruits

print(green)
print(x)
print(yellow)

apple
['banana', 'cherry', 'x', 'y']
z

In [74]:
fruits = ("apple", "banana", "cherry","x","y","z")

(green,x, *yellow) = fruits

print(green)
print(x)
print(yellow)

apple
banana
['cherry', 'x', 'y', 'z']

In [75]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [76]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [77]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [ ]:
list1=["a","b",[1]]
tuple1=("a","b")

dict

In [78]:
student1={
    "name":"gaurav",
    "rollno": "012" ,
    "email":"g@gmail.com"}

In [79]:
student1

{'name': 'gaurav', 'rollno': '012', 'email': 'g@gmail.com'}

In [ ]:
student1={
    "name":"gaurav",
    "rollno": "012" ,
    "email":"g@gmail.com"}

In [80]:
thisdict =	{
  "brand": 1964,
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 1964, 'model': 'Mustang', 'year': 1964}